<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>P_upload</display-name>
    <servlet-name>P_upload</servlet-name>
    <servlet-class>P_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_upload</servlet-name>
    <url-pattern>/P_upload</url-pattern>
  </servlet-mapping>
  <display-name>Snagway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductUpload</display-name>
    <servlet-name>ProductUpload</servlet-name>
    <servlet-class>com.snagway.ProductUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpload</servlet-name>
    <url-pattern>/ProductUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_Upload</display-name>
    <servlet-name>Product_Upload</servlet-name>
    <servlet-class>com.in.snagway.Product_Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Upload</servlet-name>
    <url-pattern>/Product_Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Product</display-name>
    <servlet-name>Update_Product</servlet-name>
    <servlet-class>com.in.snagway.Update_Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Product</servlet-name>
    <url-pattern>/Update_Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.in.snagway.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>